.App-logo {
  text-align: center;
  margin: 20px;
}

.Header-row {
  justify-content: space-between;
  background-color: #f6f6f6;
  align-items: center;
}

.Header-row:hover {
  color: #ffd100;
}

.Index-card {
  padding: 8px;
  margin: 20px;
  text-align: center;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active a h2 {
  color: #1890ff;
  background: #fff;
}

h2 {
  margin: 0;
}

.ant-tabs-bar {
  margin: 0;
  border-bottom: 0px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f6f6f6;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.main {
  margin-left: 160px;
}

.coloradoSideNav {
  background-color: #7a853b;
}
.coloradoSideNav a {
  color: white;
}

.infobox {
  border: 1px solid black;
  background-color: lightgray;
  float: right;
  padding: 8px;
}

.ant-switch-checked {
  background-color: #35647e;
}
