@import "./Colors.scss";

@mixin alignCenter {
  text-align: center;
  margin: 20px;
}

.App-logo {
  @include alignCenter();
}

.Header-row {
  justify-content: space-between;
  background-color: $lightestGrey;
  align-items: center;
}

.Index-card {
  padding: 8px;
  @include alignCenter();
}
.ant-card-body > img {
  display: block;
  margin: auto;
}

.spinner {
  margin: 80px 0px;
}

.editable {
  color: $link;
  cursor: pointer;
}

.container {
  padding: 8px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active a h2 {
  color: $link;
  background: #fff;
}

h2 {
  margin: 0;
}

.ant-tabs-bar {
  margin: 0;
  border-bottom: 0px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $lightestGrey;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.main {
  margin-left: 160px;
}

.coloradoSideNav a,
.coloradoIndex .editable,
.coloradoIndex a {
  color: $yellow;
}

.coloradoIndex .infobox {
  background-color: $grey;
}

.coloradoIndex {
  .infobox span,
  h1,
  h2,
  div > p,
  b,
  div.ant-card-head-title,
  .ant-form label {
    color: white;
  }
}

.coloradoIndex,
.coloradoSideNav,
.coloradoIndex a,
.coloradoIndex p {
  background-color: $coloradoBackground;
}

.infobox {
  border: 1px solid black;
  background-color: lightgray;
  float: right;
  padding: 8px;
}

.ant-switch-checked {
  background-color: $rightMountainTeal;
}
